<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{get_page 'index' 'heading'}}</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
    {{#with (get_page 'index')}}
      {{{styles}}}
    {{/with}}
  </head>
  <body>
    {{#with (get_page 'index')}}
      {{{topbar}}}
      {{{frame}}}
    {{/with}}
  </body>
</html>