<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />

  <link rel="shortcut icon" type="image/x-icon" href="logo">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/github.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
  <link href='normalize.css' rel='stylesheet'>
  <link href='skeleton.css' rel='stylesheet'>
  <link href='styles.css' rel='stylesheet'>

  <script>hljs.highlightAll();</script>
  {{> seo}}
</head>

<body>
  <div class="container">
    <h1 class="pt-8">{{title}}</h1>
    {{{content.html}}}
  </div>
</body>

</html>
