<!-- This is the default layout template
  You can edit any part of this document
  to create your own custom layout. -->
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{{title}}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />

  <link rel="shortcut icon" type="image/x-icon" href="{{logo}}">
  <link href='styles.css' rel='stylesheet'>

  {{> global-head}}
</head>

<body>
  {{{content.html}}}
</body>

</html>
