<html>

<head>
    <meta http-equiv="refresh" content="0;url={{pageUrl}}">
    <title>Redirecting...</title>
</head>

<body>
    <em>Redirecting...</em>
    <!-- Some users may have automatic redirect disabled -->
    <p>
        Please click
        <a href="{{pageUrl}}">here</a>
        if you do not get redirected automatically
    </p>
</body>

</html>
